/* 폰트 추가 */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@500&display=swap');

/* 폰트 변경 */
.nav-link, .nav-item {
  font-family: 'IBM Plex Sans KR', sans-serif;

}
/* 1130 게시글 작성 위치 조정 */
#postWriteBoard>h2 {
  position: relative;
  top: 13px;
}
/* 1130 검색 모달창 폰트 수정 */
.from-control {
  font-family: 'IBM Plex Sans KR', sans-serif;
}

#postWriteBoard {
  height: 1500px;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

#postWriteBoard hr {
  width: 100%;
  height: 8px;
  color: green;
}

#postWriteBoard #postWriteTable {
  border-width: 2px;
  border-color: black;
}

#postWriteTable .tableCol {
  text-align: center;
  width: 250px;
}

#postWriteTable .tableContent {
  width: 1046px;
}

#postWriteTable .tableContent input {
  width: 100%;
}

#postWriteTable .tableContent #tableContentText {
  height: 650px;
}

#postWriteTable .tableContent textarea {
  resize: none;
}
#PWTableSubmit {
  position: relative;
  left: 1197px;
  width: 98px;
  font-family: 'IBM Plex Sans KR', sans-serif;
}