/* 폰트 추가 */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=IBM+Plex+Sans+KR:wght@500&display=swap');

.nav-link, .nav-item {
  font-family: 'IBM Plex Sans KR', sans-serif;

}
/* 로그인,회원가입 버튼 마진 값 부여 */
.loginbtn {
  margin: 5px;
  /* padding-right: 20px; */
}
/* 로그인, 회원가입 버튼 테두리 */
.btn-open-modal {
  border: 0px;
}
/* 로그인 모달창 */
.modal {
  position: absolute;
  display: none;

  justify-content: center;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;



  background-color: rgba(0, 0, 0, 0.4);
}
/* 1201 modal 내부 수정 */
.modal_body {
    position: absolute;
    top: 50%;

    width: 400px;
    height: 280px;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateY(-50%);
}

#postBodyArea {
  /* background-color: beige; */

}

#postContent {
  height: 1500px;
}

/* 1130 폰트, 위치 조정 */
#postTitle {
  font-size: 30pt;
  /* background-color: chartreuse; */
  font-family: 'IBM Plex Sans KR', sans-serif;
  position: relative;
  top: 20px;
  font-weight: 400;
}

#postSearch {
  /* background-color: violet; */
  position: relative;
  left: 767px;
  width: 220px;
}

#PostSearchForm {
  display: inline;
  position: relative;
  top: 20px;
  left: 30px;
}

#postSearchFilter {
  position: relative;
  left: 458px;
  height: 30px;
}

#postSearchSub {
  position: relative;
  left: 677px;
}

#postContent .borderLine {
  width: 100%;
  height: 8px;
  color: green;
}

#postTable .test1 {
  text-align: center;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

#postTable tr td {
  text-align: center;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

#pageNumber {
  margin: auto;
  text-align: center;

}

#pageNumber a {
	color: initial;
	text-decoration: none;
	background-color: transparent;
	border: none;
	width: 30px;
}

#postUpdateA {
	position: relative;
	left: 1239px;
/* 1201 글작성 위치, 폰트 추가 */
	font-family: 'IBM Plex Sans KR', sans-serif;
    top: 18px;
}

/* 1201 추가 */
.close-icon {
  display: inline;
  position: relative;
  left: 130px;
  bottom: 40px;
  border: 0px;
}
/* 1201 모달창 내부 아이디, 비밀번호 찾기 버튼 */
.loginSearch {
    font-size: 10px;
}
/* 1201 모달창 h2태그  */
.modal_body>h2 {
  display: inline;
  position: relative;
  left: 10px;
  bottom: 5px;
}