#postReadNav{
    text-align: right;
}
button{
    background: none;
    border: none;}
#postReadSect2{
	text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

#postReadLayout label {
    display: block;
    margin-bottom: 5px;
}

#postReadLayout input,
#postReadLayout select,
#postReadLayout textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#postReadLayout textarea {
    resize: vertical;
}

#postReadLayout button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#postReadLayout button:hover {
    background-color: #45a049;
}

#modify{
	margin-right: 10px;
}
  #tablebtn {
        margin: 0 auto;
    }