<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.smhrd.model.ManageDAO">
	<!-- 문의 글 등록 -->
	<insert id="manageupdate" parameterType="com.smhrd.model.ManageVO">
    INSERT INTO TB_MANAGEMENT_POST (
        MANAGEMENT_POST_TITLE, MANAGEMENT_POST_CONTENT, MANAGEMENT_POST_ID
    )
    VALUES (
       #{management_post_title} , #{management_post_content}, #{management_post_id}
    )
</insert>
	<!-- 문의 글 목록 불러오기 -->
	<select id = "manage_sel" resultMap="manage">  
	SELECT MANAGEMENT_POST_NUM, MANAGEMENT_POST_TITLE, MANAGEMENT_POST_CONTENT, MANAGEMENT_POST_ID, POSTED_AT,MANAGEMENT_POST_RELPY
	FROM ( SELECT ROWNUM RN, MANAGEMENT_POST_NUM, MANAGEMENT_POST_TITLE, MANAGEMENT_POST_CONTENT, MANAGEMENT_POST_ID, POSTED_AT,MANAGEMENT_POST_RELPY
	FROM (SELECT MANAGEMENT_POST_NUM, MANAGEMENT_POST_TITLE, MANAGEMENT_POST_CONTENT, MANAGEMENT_POST_ID, POSTED_AT,MANAGEMENT_POST_RELPY
	FROM TB_MANAGEMENT_POST
	ORDER BY MANAGEMENT_POST_NUM DESC))
	WHERE RN BETWEEN (#{selectedNum} * 10) - 9 AND #{selectedNum} * 10
	</select>
	
	<!-- 문의 글 상세보기 -->
	
	
	<resultMap type="com.smhrd.model.ManageVO" id="manage">
		<result property="management_post_num" column="MANAGEMENT_POST_NUM"/>
		<result property="management_post_title" column="MANAGEMENT_POST_TITLE"/>
		<result property="management_post_content" column="MANAGEMENT_POST_CONTENT"/>
		<result property="management_post_id" column="MANAGEMENT_POST_ID"/>
		<result property="management_post_relpy" column="MANAGEMENT_POST_RELPY"/>
		<result property="posted_at" column="POSTED_AT"/>
		</resultMap>
		
	<select id="getManNum" resultMap="ManNum">
	SELECT COUNT(*)
	FROM TB_TB_MANAGEMENT_POST
	</select>
	<resultMap type = "int" id="ManNum">
		<result property="count(*)" column="COUNT(*)" />
	</resultMap>
	
		
	<select id="manage_detail" parameterType="com.smhrd.model.ManageVO" resultType="com.smhrd.model.ManageVO">
	SELECT MANAGEMENT_POST_TITLE, MANAGEMENT_POST_CONTENT, MANAGEMENT_POST_ID, MANAGEMENT_POST_RELPY,MANAGEMENT_POST_NUM,POSTED_AT
	FROM TB_MANAGEMENT_POST WHERE MANAGEMENT_POST_NUM = #{management_post_num}
	</select>
	
	<update id="manage_modify" parameterType="com.smhrd.model.ManageVO">
	UPDATE TB_MANAGEMENT_POST SET MANAGEMENT_POST_TITLE = #{management_post_title}, MANAGEMENT_POST_CONTENT = #{management_post_content}, 
	POSTED_AT = SYSDATE WHERE MANAGEMENT_POST_NUM = #{management_post_num}
	 </update>
	
	</mapper>